{% extends "base.html" %}
{% block title %}
    博客详情
{% endblock title %}
{% block main %}
    <h1>Django从零基础到项目实战</h1>
    <hr />
    <div class="ms-2">
        <img src="{% static 'images/touxiang.jpg' %}"
             class="rounded-circle"
             width="30"
             height="30"
             alt="">
        <span class="ms-2">知了课堂</span>
        <span class="ms-2">发布时间：2023-03-15</span>
        <hr />
        <div class="py-2">
            <p>博客详情</p>
        </div>
        <hr />
        <div>
            <h3>评论（10）</h3>
            <form action="" method="post">
                <div>
                    <textarea name="content" id="content" class="form-control" rows="3"></textarea>
                </div>
                <div class="text-end">
                    <button type="button" class="btn btn-primary mt-2">提交</button>
                </div>
            </form>
        </div>
        <hr />
    </div>
    <div class="mt-2 ">
        <ul class="list-group list-group-flush">
            <li class="list-group-item mb-3">
                <div class="d-flex justify-content-between">
                    <div class="user_info">
                        <img src="{% static 'images/touxiang.jpg' %}"
                             class="rounded-circle"
                             width="40"
                             height="40"
                             alt="">
                        <span class="ms-2">半杯无糖</span>
                    </div>
                    <div class="comment_time p-2">2023-03-15</div>
                </div>
                <div class="comment_content mt-3">这是评论内容</div>
            </li>
            <li class="list-group-item mb-3">
                <div class="d-flex justify-content-between">
                    <div class="user_info">
                        <img src="{% static 'images/touxiang.jpg' %}"
                             class="rounded-circle"
                             width="40"
                             height="40"
                             alt="">
                        <span class="ms-2">半杯无糖</span>
                    </div>
                    <div class="comment_time p-2">2023-03-15</div>
                </div>
                <div class="comment_content mt-3">这是评论内容</div>
            </li>
        </ul>
    </div>
{% endblock main %}
